In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/shyamkrishnan1999/Exam/main/examdata.csv")
data

    Exam1  Exam2  Label
0   34.62  78.02      0
1   30.29  43.89      0
2   35.85  72.90      0
3   60.18  86.31      1
4   79.03  75.34      1
..    ...    ...    ...
95  83.49  48.38      1
96  42.26  87.10      1
97  99.32  68.78      1
98  55.34  64.93      1
99  74.78  89.53      1

[100 rows x 3 columns]

In [3]:
x=data[['Exam1','Exam2']].values
y=data['Label'].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=5)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [14]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.9666666666666667